<div class="fw">
  <h1><span>Where to buy</span></h1>
  <div class="map"></div>
  <each name="models">
    <div class="supplier supplier--hidden" attr="data-name=name data-lat=geoData.latitude data-lng=geoData.longitude">
      <h2 string="name"></h2>
      <p>
        <string name="address.street1"></string><br />
        <if name="address.street2">
          <string name="address.street2"></string><br />
        </if>
        <if name="address.city">
          <string name="address.city"></string><br />
        </if>
        <if name="address.postcode">
          <string name="address.postcode"></string><br />
        </if>
        <string name="address.region"></string>
      </p>
      <p>
        <i class="fa fa-phone"></i> <string name="phone"></string>
      </p>
    </div>
  </each>
</div>

