.page-hero__slide {
  background-position: 50% 50%;
  background-size: cover;
  display: none;
}

.page-hero__slide:first-child {
  display: block;
}

.page-hero__slide--vege {
  background-image: url( '/img/1920/bird-vege.jpg' );
}

.page-hero__slide--roast {
  background-image: url( '/img/1920/roast.jpg' );
}

.page-hero__slide--whole-bird {
  background-image: url( '/img/1920/whole-bird.jpg' );
}

.page-hero__slide--burger {
  background-image: url( '/img/1920/burger.jpg' );
}

.page-hero__slide--sandwich {
  background-image: url( '/img/1920/sandwich.jpg' );
}

.page-hero ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-hero__slide {
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  margin: 0;
}

.page-hero__overlay {
  background: rgba( 0, 0, 0, 0.66 );
  border: 0.25rem solid #b18234;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.page-hero__overlay h1 {
  color: #b18234;
  font-family: 'Niconne', cursive;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.page-hero__overlay h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.page-hero__overlay h2 strong {
  border-bottom: 0.25rem solid #b18234;
  white-space: nowrap;
}

.page-hero__skip {
  margin-top: 2rem;
}

.page-hero__skip a {
  color: #fff;
  text-decoration: none;
}

@media print, screen and (min-width: 50em) {
  .page-hero__slide {
    padding: 6rem;
    padding-bottom: 10rem;
  }

  .page-hero__overlay {
    padding-bottom: 2rem;
    width: 28rem;
    margin: auto;
  }

  .page-hero__overlay h1 {
    font-size: 2rem;
  }

  .page-hero__overlay h2 {
    font-size: 2.875rem;
    line-height: 1;
    margin-top: 0.75rem;
  }
}

.page-hero .slick-dotted.slick-slider
{
  margin-bottom: 0;
  z-index: 1;
}

.page-hero .slick-dots
{
  bottom: 2rem;
}

.page-hero .slick-dots li
{
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.page-hero .slick-dots li button
{
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.page-hero .slick-dots li button:before
{
  font-size: 1.5rem;
  line-height: 2;
  width: 2rem;
  height: 2rem;

  content: '•';

  opacity: 1;
  color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-hero .slick-dots li.slick-active button:before
{
  opacity: 1;
  color: black;
}
