<section class="page-hero">
  <ul class="page-hero__slider">
    <li class="page-hero__slide page-hero__slide--vege">
      <include name="page-hero-overlay"></include>
    </li>
    <li class="page-hero__slide page-hero__slide--roast">
      <include name="page-hero-overlay"></include>
    </li>
    <li class="page-hero__slide page-hero__slide--whole-bird">
      <include name="page-hero-overlay"></include>
    </li>
    <li class="page-hero__slide page-hero__slide--burger">
      <include name="page-hero-overlay"></include>
    </li>
    <li class="page-hero__slide page-hero__slide--sandwich">
      <include name="page-hero-overlay"></include>
    </li>
  </ul>
</section>
