.copy {
  padding: 3rem 1rem;
  border: 0.75rem solid #b18234;
  border-left: 0;
  border-right: 0;
}

.copy h1, .copy h2, .copy h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.copy h1 {
  font-size: 2.875rem;
  text-align: center;
  margin-bottom: 3rem;
}

.copy h2 {
  color: #b18234;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.copy h3 {
  margin-bottom: 1rem;
}

.copy h1 span {
  background: repeat-x bottom url( '/img/squiggle.svg' );
  padding-bottom: 0.5rem;
  background-size: 0.8rem 0.2rem;
}

.copy p, .copy ul {
  line-height: 2;
}

.copy ul {
  padding-left: 0;
  list-style-position: inside;
  margin-bottom: 3rem;
  color: #b18234;
}

.copy li span {
  color: #221f20;
}
