<p>
  Our farming style is really unique in New Zealand. We claim to be the only
  truly free range turkey farmers in the country because we breed, hatch and
  grow all our own stock through spring, summer and autumn so our turkeys can be
  outside in the paddocks all the time. Otherwise, the birds would end up
  spending most of their lives locked in a shed because of the cold and wet
  weather conditions over the winter months.
</p>
<p>
  Once the turkeys are fully feathered (4-6 weeks of age) they move from the
  brooding shed to a 3-acre paddock. There the birds can roam around freely and
  follow their natural instincts. They can be in the paddock eating grass, grass
  seed, worms and bugs but also have free access to sheltered sheds fitted out
  with roosts where they can go to protect themselves from the rain or sleep.
  Our breeders also get to live the free range life and roam around freely,
  which is not common in any commercial poultry farm.
</p>
