html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  color: #222;
  overflow-y: scroll;
}

.page {
  margin: auto;
  background: #fff;
  padding: 2rem;
  max-width: 65rem;
}