* {
  box-sizing: border-box;
}

html, body {
  background: #fff;
  color: #221f20;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.fw {
  max-width: 65rem;
  margin: auto;
}

.no-scroll {
  overflow: hidden;
}

.c {
  text-align: center;
}

.ib {
  display: inline-block;
}

.cols {
  display: flex;
}

.cols > * {
  flex: 1;
  padding: 0 1rem;
}

.cols > *:first-child {
  padding-left: 0;
}

.cols > *:last-child {
  padding-right: 0;
}

.button {
  background: #221f20;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border: 0.125rem transparent;
  text-decoration: none;
}

.button:hover {
  background: #332f31;
}

.button .fa {
  color: #b18234;
}

.button .fa-inverse {
  color: #fff;
}

.table {
  margin-bottom: 3rem;
}
