.table {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  border-collapse: collapse;
  margin: 2rem 0;

  th, td {
    padding: 1rem 0.5rem;
    text-align: left;
  }

  .table__cell--number {
    text-align: right;
  }

  tr:nth-child( even ) {
    background-color: #f3f3f3;
  }
}
