<div class="fw">
  <h1><span>Ashburton Farmers Market</span></h1>
  <p>
    <strong>Crozier’s Free Range Turkeys</strong> have a stall at the
    <em>Ashburton Farmers Market</em> (corner of West and Havelock Streets) each
    Saturday morning, from the end of September through to the end of April. You
    will also find other stalls selling locally sourced and produced products,
    like honey, cakes, breads, free range eggs, vegetables, fruits and free range
    pork products.
  </p>
  <p>
    We have some turkey products that you can only find at the <em>Ashburton
    Farmers Market</em> – another reason for you to come and visit us there! Check
    them out:
  </p>
  <ul>
    <li><span>Drums: 2kg</span></li>
    <li><span>Drumettes: 2kg</span></li>
    <li><span>Wings: 2kg</span></li>
    <li><span>Spare ribs: 2kg</span></li>
    <li><span>Schnitzel (world famous in Ashvegas): 1kg</span></li>
    <li><span>Breast: 700g - 1.2kg</span></li>
    <li><span>Mince: 500g</span></li>
    <li><span>Boneless Rolled Roasts: 1kg, 1.5kg, 2kg, 2.5kg, 3 kg</span></li>
    <li><span>Whole birds: 3kg - 15 kg</span></li>
  </ul>
  <p class="c">
    <a class="button" href="https://www.facebook.com/ashburtondistrictfarmersmarket/" target="_blank" rel="noopener"><span
    class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
    class="fa fa-facebook fa-stack-1x fa-inverse"></i></span> Ashburton Farmers
    Market on Facebook</a>
  </p>
</div>
