<div class="fw">
  <h1><span>Preparation</span></h1>
  <p>
    After Crozier’s Free Range Turkeys have done everything to ensure the food
    safety of your turkey, it's your job to make sure that you thaw, prepare,
    cook and serve it in a safe manner.
  </p>
  <h2>Thawing (defrosting) frozen turkey</h2>
  <p>
    Frozen turkey must be completely thawed before cooking. The safest method is
    thawing in the refrigerator. To do this you need to plan ahead.
  </p>
  <h2>Thawing methods</h2>
  <section class="preparation-card">
    <h3><em>Strongly recommended:</em> Thawing in the refrigerator</h3>
    <p>
      Leave the turkey in its original wrapping and place it in a deep tray at
      the bottom of the refrigerator. A deep tray will help preventing raw
      turkey juices escaping and dripping onto other foods. Allow 10 hours per
      kilogram, so a 4.5 kg turkey takes approximately 45 hours (nearly 2 days)
      to thaw in a standard refrigerator at a temperature of 4°C.
    </p>
  </section>
  <section class="preparation-card">
    <h3><em>Use only if time is short:</em> Thawing in cold water (rapid thaw)</h3>
    <p>
      Place turkey in its original wrapping in the sink and cover with
      <strong>cold</strong> water. Never use hot water because it creates enough
      warmth in the turkey to encourage bacterial growth. Change the cold water
      every half-hour to maintain the cold temperature. Allow 1 hour per
      kilogram to defrost the turkey. A 4.5 kg turkey will take approximately 5
      hours to thaw.
    </p>
  </section>
  <section class="preparation-card">
    <h3><em>Not recommended:</em> Thawing in the microwave</h3>
    <p>
      Microwave ovens do not heat evenly, creating warm patches that may
      encourage bacterial growth in large items such as turkeys.
    </p>
  </section>
  <p>
    Once your turkey has thawed, remove the giblets from inside the cavity. Set
    them aside for use in stuffing or gravy. Then rinse out the cavity with cold
    water.
  </p>
  <h2>Handling</h2>
  <p>
    Wash thoroughly and dry hands before and after handling raw turkey.  After
    preparation, wash with hot soapy water and dry all food preparation
    equipment, such as bench surfaces, chopping board, and knives that have been
    in contact with the raw food to avoid contamination.
  </p>
</div>