<p>
  We have the same respect and care for our birds at the farm as we do when it
  comes the time to process them. The birds are processed at our small MPI
  certified processing plant, and it is done by hand ensuring excellent quality
  control.
</p>
<p>
  We use organically approved methods to provide the highest food safety
  standards and provide our customers with the best product. We use no chlorine
  or other heavy chemicals commonly used in the washing and sanitation of
  poultry.
</p>
