<div class="fw">
  <h1><span>Cooking tips</span></h1>
  <h2>How to roast</h2>
  <p>
    We recommend a total cooking time of 35 minutes per kilo in a preheated
    conventional oven at 160 °C on bake.
  </p>
  <p>
    Place the bird in a roasting dish, after putting the stuffing in the front
    and rear cavities. There are many different stuffing recipes available,
    we suggest you consult your favourite recipe book for one to suit your
    tastes. Or browse through our <a href="/recipes/">recipe library</a>.
  </p>
  <p>
    <strong>Important:</strong> We advise keeping water in the dish throughout
    cooking as free range turkeys have little fat, especially the smaller sizes.
  </p>
  <p>
    Please be aware that several factors can influence cooking times, such as
    oven performance, if the turkey is stuffed or unstuffed, covered or
    uncovered etc. The best way to check if your turkey is cooked is to cut into
    the thigh meat, between the breast and the leg to check that the juices run
    clear.
  </p>
  <p>
    Always rest the cooked turkey for 15 minutes before carving. It allows time
    for the flesh to relax and for juices to be reabsorbed into the meat before
    carving.
  </p>
  <h2>Cooking timers</h2>
  <p>
    Small to medium size Crozier’s Free Range Turkeys have a cooking timer
    inserted. Your turkey should be cooked when the red section of the timer
    ‘pops’ up. These timers are a guide only. Do not exceed the recommended
    cooking time.
  </p>
</div>
