.quote {
  background: url( '/img/1920/wood.jpg' );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 1rem;
}

.quote quote {
  display: block;
  font-family: 'Niconne', cursive;
  font-size: 2.5rem;
}
