<div class="fw">
  <h1><span>The Crozier Story</span></h1>
  <p>
    Crozier’s Free Range Turkeys are a proud New Zealand owned and operated
    family business, producing high quality truly free range products. The
    Crozier family built their tradition and reputation over 50 years, always
    believing in farming free range, with farming practises focused on the
    welfare of the bird, high quality standards, hard work and respect for the
    environment and their customers.
  </p>
  <p>
    In 2015, the Crozier family passed their legacy on to another family with
    passion for breeding turkeys: the Smith family, formed by Kyle and Monique
    along with their young daughters, Isla and Ruby. Kyle has over a decade
    experience in turkey farm management, having worked at some of the biggest
    poultry farms in New Zealand. Now at his own farm he is truly in his
    element, farming the Crozier’s way, adding his personal touch, experience
    and expertise. Monique is a hairdresser and beauty therapist by trade, but
    decided to embrace the family business and has now retrained and taken the
    role of office manager.
  </p>
  <p>
    Isla and Ruby love being on the farm and helping Mum and Dad. The girls
    enjoy collecting the turkey eggs and seeing the baby poults on hatch days.
    Isla likes to come down to the farmers market on Saturdays to help Mum on
    the stall.
  </p>
</div>
