<footer class="page-footer" id="contact">
  <div class="fw page-footer__columns">
    <div class="page-footer__blurb">
      <h1>Let's Talk Turkey</h1>
      <h2>“Mape vitas ut volupti osahiti tes earum seunmit”</h2>
      <p>
        Atis, commoGeribunc upplis ad it. Simm ovitu es clatum ocur habesu
        eris re conse maxim int magni voleniatur, cones dolum exceaquo.
      </p>
    </div>
    <div class="page-footer__contact">
      <ul>
        <li>
          <a href="tel:+6433089500">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            (03) 308 9500
          </a>
        </li>
        <li>
          <a href="mailto:office@croziersturkeys.co.nz">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            office@croziersturkeys.co.nz
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Croziers-Turkeys-561621687233236/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            Crozier's on Facebook
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="page-footer__copyright fw c">
    <small>© 2017 Crozier's Turkeys Ltd | Website by:
    <a href="http://informationage.co.nz/">Information Age</a> and
    <a href="http://viadesign.co.nz/">Via Design</a></small>
  </p>
</footer>