<footer class="page-footer" id="contact">
  <div class="fw page-footer__columns">
    <div class="page-footer__blurb">
      <h1>Let's Talk Turkey</h1>
      <h2>“Mape vitas ut volupti osahiti tes earum seunmit”</h2>
      <p>
        Atis, commoGeribunc upplis ad it. Simm ovitu es clatum ocur habesu
        eris re conse maxim int magni voleniatur, cones dolum exceaquo.
      </p>
    </div>
    <div class="page-footer__contact">
      <ul>
        <li>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          <div class="ib">
            <div><a href="tel:+6433089500">(03) 308 9500</a></div>
            <div><a href="tel:+64279183469">Farm enquiries<br /><strong>Kyle</strong> (027) 918 3469</a></div>
            <div><a href="tel:+64211671942">Sales enquiries<br /><strong>Monique</strong> (021) 167 1942</a></div>
          </div>
        </li>
        <li>
          <a href="mailto:office@croziersturkeys.co.nz">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            office@croziersturkeys.co.nz
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="fw c">
    <a class="button" href="https://www.facebook.com/Croziers-Turkeys-561621687233236/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      Find Crozier’s Free Range Turkeys on Facebook!
    </a>
  </div>
  <p class="page-footer__copyright fw c">
    <small>© 2017 Crozier’s Turkeys Ltd | Website by:
    <a href="http://informationage.co.nz/">Information Age</a> and
    <a href="http://viadesign.co.nz/">Via Design</a></small>
  </p>
</footer>