<div class="fw">
  <h1><span>Product Range</span></h1>
  <p class="c">
    <a class="button" href="/where-to-buy/"><span class="fa-stack fa-lg"><i
    class="fa fa-circle fa-stack-2x"></i><i
    class="fa fa-map-marker fa-stack-1x fa-inverse"></i></span> Where to buy</a>
  </p>
  <div class="servings cols">
    <div>
      <h2>Whole Turkey</h2>
      <include name="whole-turkey"></include>
    </div>
    <div>
      <h2>Boneless Roast</h2>
      <include name="boneless-roast"></include>
    </div>
  </div>
  <h2>Other Products</h2>
  <p>
    We also produce several other products, available at the <a
    href="/farmers-market/">Ashburton Farmers Market</a>
  </p>
</div>
